doctype html
html
	head
		title Q &amp; A
		link(rel="stylesheet", href="style.css")
		link(rel="stylesheet", href="css/townhall.css")
		script(src='http://code.jquery.com/jquery-1.7.1.min.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js')
		//script(src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js')
		script(src='http://cdn.ractivejs.org/latest/ractive.min.js')
		script(src="/socket.io/socket.io.js")
		script(src="script.js")
		script(src="js/jquery.slimscroll.js")
		script#message-template(type="text/ractive")
			include ./message-list.hbs
		script(src="meatballs.js")
		meta(name='viewport', content='width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, target-densityDpi=device-dpi')
	body
		div.container#main
			div.navbar.navbar-fixed-top
				div.navbar-inner
					div.container
						span.logo
						span.awslogo
						a#info.brand(href="#modalInfos", data-toggle="modal") Q &amp; A
						span.userCount
							span.icon-user
							span#nbUsers
						span.userName You are
							span#userName
			div#chatEntries
			script
				include ../message-handler.js
			div.row#entries
				input(type='text', placeholder='Type message here')#messageInput
				button.btn#submit(data-loading-text="Send") Send
			div#nbUsersDiv
	div.modal.fade#modalInfos
		div.modal-header
			h3 About
		div.modal-body
			p 	Built with
				a(href="http://nodejs.org/") Node.js
				|,
				a(href="http://socket.io/") Socket.io
				|,
				a(href="http://expressjs.com/") Express
				|.
			p 	Running on AWS Elastic Beanstalk.
