doctype html
html
	head
		title Q &amp; A
		link(rel="stylesheet", href="style.css")
		link(rel="stylesheet", href="css/townhall.css")
		script(src='http://code.jquery.com/jquery-1.7.1.min.js')
		script(src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js')
		script(src="/socket.io/socket.io.js")
		script(src="script.js")
		script(src="js/jquery.slimscroll.js")
		script(src="meatballs.js")
		meta(name='viewport', content='width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, target-densityDpi=device-dpi')
	body
		div.container#main
			div.navbar.navbar-fixed-top
				div.navbar-inner
					div.container
						a#info(href="#modalInfos", data-toggle="modal")
						span.logo
						a#info.brand(href="#modalInfos", data-toggle="modal") Q &amp; A
						span.userCount 
							span.icon-user 
							span#nbUsers
			div#chatEntries
			div.row#entries
				input(type='text')#messageInput
				button.btn#submit(data-loading-text="Send") Send
			div#nbUsersDiv
	div.modal.fade#modalInfos
		div.modal-header
			h3 About
		div.modal-body
			p 	This application has been made with 
				a(href="http://nodejs.org/") Node.js
				|, 
				a(href="http://socket.io/") Socket.io
				|, 
				a(href="http://expressjs.com/") Express 
				| and 
				a(href="http://jade-lang.com/") Jade
				| .
