#main {
	padding-top: 70px;
}
#chatEntries {
    border: 1px solid grey;
    border-radius: 5px;
    background-color: rgba(0,0,0,.05);
    margin-bottom: 20px;
    height: 600px;
    box-shadow: 0 0 10px rgba(0,0,0,.5);
}
.message {
	overflow: hidden;
	padding: 0 12px;
	color: black;
	background: #ababab; /* Old browsers */
	float: left;
	margin-left: 0;
	width: 914px;
    border-bottom:1px solid rgba(0, 0, 0, .1);
}
.self {
	background: #c7c7c7; /* Old browsers */
	color: black;
	text-align: right;
}
.infos {
	font-size: 10px;
	color: #5C5C5C;
}
.btn-group {	
    float: right;
}
#messageInput {
	width: 830px;
	margin-left: 20px;
}
#entries {
	margin-top: 10px;
}
@-webkit-keyframes flip {
	0% {
		-webkit-transform: rotateX( 90deg );
	}
	100% {
		-webkit-transform: rotateX( 0deg );
	}
}

body {
  height: 100%;
  width: 100%;
  overflow: auto;
}

/*font-size: 56px;*/
h3 {
	font-size: 2rem;
}

.modal {
	width:100%;
	left:0;
	margin:0;
	top:0;
	height:auto;
	border-radius:0;
	padding: 1rem 0;
}

.modal.fade.in {
	top:20%;
}

.modal p {
	font-size:1rem;
}

.modal-body, .modal-header, .modal-footer {
	padding-left:10%;
}

.modal-backdrop {
	background-color: #033241;
}

.modal-footer {
	border:none;
	text-align: left;
}

.navbar span.logo {
	width: 87px;
	height: 21px;
	display: block;
	background: url(http://smb.optus.com.au/opfiles/v11364/ys/online-style/images/logo/logo_optus.png) 0 0 no-repeat;
	background-size: 87px 21px;
	position: absolute;
	top: 7px;
	right: 89px;
}

.navbar span.awslogo {
	width: 74px;
	height: 30px;
	display: block;
	background: url(http://awsmedia.s3.amazonaws.com/AWS_Logo_PoweredBy_127px.png) 5px 3px no-repeat;
    background-color: white;
	background-size: 64px 24px;
	position: absolute;
	top: 5px;
	right: 5px;
    border-radius: 0.4rem;
}

.navbar .brand {
	margin-left:-10px;
}

.navbar {
	z-index: 10000;
}

.navbar .userName #userName {
	margin-left:.3rem;
}

.navbar .userName {
	width: auto;
	padding: .1rem .5rem;
	color: #fff;
	top: 9px;
	position: relative;
}

.navbar .userCount #user-num {
	margin-left:.3rem;
}

.navbar .userCount {
	background: #00A3AD;
	border-radius: 1rem;
	width: auto;
	padding: .1rem .5rem;
	color: #fff;
	top: 9px;
	position: relative;
}

.navbar .icons {
	color:#fff;
}

.btn {
	font-size: 24px;
	line-height: 24px;
}

.btn.btn-primary {
	background-color: #ffd100;
	color: #033241;
	background-image: none;
	border-radius:none;
}

.navbar-inner {
	background-color: #033241;
	background-image:none;
}

/* Chat */

#main {
	padding: 40px 0 40px 0;
	background-color:#00A3AD;
}

.container {
	width:100%;
}

/* TODO remove output */
#chatEntries {
	border:0;
	border-radius: 0;
	background-color:#00A3AD;
	margin-bottom: 0;
	height: inherit;
    box-shadow: none;
}

#entries {
	position: fixed;
	bottom: 0;
	height: 80px;
	width:100%;
	margin:0;
	background-color:#00A3AD;
}

#entries #messageInput {
	width:75%;
	margin:0;
	height:70px;
	font-size:16px;
    word-break: break-word;
}

#submit.btn {
	font-size:1rem;
	height:100%;
	width:5em;
    padding: 0;
}

/* Messaging */

.message {
	width: 70%;
	padding: 0 .5rem;
	margin: .3rem;
	border-radius: 1rem 1rem 1rem 0;
	background-color: #033241;
	color:#fff;
	border-radius: 1rem 1rem 1rem 0;
}

.message.self {
	background-color: #FEE044;
	color:#033241;
	float:right;
	border-radius: 1rem 1rem 0 1rem;
}

.message.self .vote {
	float: left;
	color: #000;
	background: #FEE044;
}

.message:not(.self) .vote {
	cursor: pointer;
}

.message .vote {
	background: #00A3AD;
	border-radius: 1rem;
	float: right;
	padding: .15rem .3rem;
	color: #fff;
}

.message-number {
    float: left;
    padding: 1.5rem 0.5rem 0 0;
}

.message.self .message-number {
    float: right;
    padding: 1.5rem 0 0 0.5rem;
}

.infos {
	color:#00A3AD;
	margin:.5rem 0 .3rem 0;
}

/* woo responsive font sizes, sigh */

@media (min-width: 768px) {

	.message-number {
	    font-size: 28px;
	}

	.message p {
	    font-size: 22px;
	    line-height: 22px;
	    padding: 0 0 0 3.5rem;
	}

	.message.self p {
	    padding: 0 3.5rem 0 0;
	}


	.message p.infos {
	    font-size: 16px;
	    line-height: 16px;
	}

	#entries {
		height: 40px;
	}

	#entries #messageInput {
		height: 30px;
	}

}

@media (max-width: 768px) {

	#main {
		padding-bottom: 80px;
	}

	.message-number, .message.self .message-number {
	    font-size: 18px;
	    padding-top: 1rem;
	}

	.message p {
	    font-size: 16px;
	    line-height: 16px;
	    padding: 0 0 0 2.5rem;
	}

	.message.self p {
	    padding: 0 2.5rem 0 0;
	}

	.message p.infos {
	    font-size: 14px;
	    line-height: 14px;
	}

	#entries {
		height: 80px;
	}

	#entries #messageInput {
		height:70px;
	}

}
