container_commands:
    nginx_websockets_config:
        command: |
            perl -pi -e 's/proxy_set_header   Connection "";/proxy_set_header        Upgrade        \$http_upgrade;\n        proxy_set_header        Connection     "upgrade";/' /tmp/deployment/config/#etc#nginx#conf.d#00_elastic_beanstalk_proxy.conf
